{% extends 'index.html' %}

{% block contenido1 %}
<h1>Mis Citas Programadas</h1>
{{ error }}
<div style="height: 200px; overflow-y: scroll;">
<table style="width:80%; justify-content: center; ">
    <thead>
        <tr>
            <th>No.</th>            
            {% if admin == 'si' %}
            <th>Paciente</th>                
            {% endif %}
            <th>Fecha</th>
            <th>Hora</th>
            <th>Médico</th>
            <th>Estado cita</th>
            <th colspan="2">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for cita in citas %}
        <tr>
            <td>{{ forloop.counter }}</td>
            {% if admin == 'si' %}
            <td>{{cita.usuario.nombre_completo}}</td>                
            {% endif %}
            <td>{{ cita.cita.fecha }}</td>
            <td>{{ cita.cita.hora_cita }}</td>
            <td>{{ cita.cita.horario.id_usuario.nombre_completo }}</td>            
            <td>{{ cita.actividad_cita }}</td> 
            {% if cita.actividad_cita == 'Asignada' %}           
            <td>
                <button>
                <a href="{% url 'Cancelar_citas' cita.cita.id %}?accion=cancelar">Cancelar cita</a>
                </button>
            </td>
            <td>
                <button>
                <a href="{% url 'Cancelar_citas' cita.cita.id %}?accion=reprogramar">Reprogramar Cita</a>
                </button>
            </td>

            {% elif cita.estado_cita == 'Reprogramada'  %}
            <td>
                <button>
                <a href="{% url 'Cancelar_citas' cita.cita.id %}?accion=cancelar">Cancelar cita</a>
                </button>
            </td>           
                
            {% endif %}
                
            
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}