{% extends 'index.html' %}

{% block contenido1 %}
<div class="bloque__formulario">
    <h2 class="bloque__subtitulo">Editar horario de: {{perfil.id_usuario.nombre_completo}}</h2>
    <p>La fecha almacenada actual es: {{formato.fecha.value}}</p>    
    <p>{{error}}</p>
    <form class="formato__creacion" method="POST">
        {% csrf_token %}
        {{ formato.as_p }}
        <input type="hidden" name="next" , value="{{ next }}" />
        <div class="btn_opcion">
            <button>
                <a class="btn-secundary" href="{% url 'Lista_Horarios' %}">Cancelar</a>
            </button>
            <button class="envio" type="submit">Guardar Cambios</button>el decorador receiver de django cuantas sender pues
        </div>

    </form>


{% endblock %}