{% extends 'index.html' %}

{% block contenido1 %}
<div class="bloque__formulario">
    <h2 class="bloque__subtitulo">Sección de Habilitar/Deshabilitar Usuarios</h2>
    <p>Estas en el perfil de {{perfil.nombre_completo}}</p>
    <P>Actualemete el perfil esta {{habilitado}}, si guarda cambios el estado cambiara</P>    
    <p>{{error}}</p>
    <form class="formato__creacion" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        
        <div class="btn_opcion">
            <button>
                <a class="btn-secundary" href="{% url 'Lista_cuentas' %}">Cancelar</a>
            </button>
            <button class="envio" type="submit">Guardar Cambios</button>
        </div>
    </form>


{% endblock %}