
    <header class="header__container">
        <div class="navbar__container">
        <h1 class="navbar__title">
            POLICLI
            <span class="navbar__subtitle">Citas medicas</span>
        </h1>
        <div class="navbar-links__container">
            <nav class="navbar-links__list">
                <ul class="navbar-links__list">  
                    <li class="navbar-links__item">
                        <a href="{% url 'Inicio' %}" class="navbar__link">Inicio</a>
                    </li>                
                    <li class="navbar__item">
                        <a href="{% url 'Nosotros' %}" class="navbar__link">Nosotros</a>
                    </li>
                    <li class="navbar__item">
                        <a href="{% url 'Inicio_sesion' %}" class="navbar__link">Inicio Sesión</a>
                    </li>
                    <li class="navbar__item">
                        <a href="{% url 'Contactar' %}" class="navbar__link">Contacto</a>
                    </li>
                </ul>
            </nav>
        </div>
        </div>
    </header>
