{% extends 'index.html' %}

{% block contenido1 %}

<h2>Citas Realizadas</h2>
<div>
    <form method="GET" action="">
        {% csrf_token %}
        <label for="estado">Filtrar por estado:</label>
        <select name="estado" id="estado">
            <option value="">Todas</option>
            <option value="Agendada">Asignadas</option>
            <option value="Cancelada">Canceladas</option>
            <option value="Reprogramada">Reprogramadas</option>
        </select>
        <button type="submit">Realizar Filtro</button>
        <button>
            <a class="btn-secundary" href="{% url 'Citas_programadas' %}">Borrar</a>
        </button>
    </form>
</div>
<div style="height: 250px; overflow-y: scroll;">
<table style="width:80%; justify-content: center; ">
    <tr>
        <th>No.</th>
        <th>Usuario</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Medico</th>
        <th>Estado</th>
        <th>Registro</th>

    </tr>
    {% for cita in citas %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ cita.usuario.nombre_completo }}</td>
        <td>{{ cita.cita.fecha }}</td>
        <td>{{ cita.cita.hora_cita }}</td>
        <td>{{ cita.cita.horario.id_usuario.nombre_completo }}</td>
        <td>{{ cita.estado_cita }}</td>
        <td>{{ cita.fecha_registro }}</td>
    </tr>
    {% endfor %}
</table>
</div>

{% endblock contenido1 %}