{% extends 'index.html' %}

{% block contenido1 %}

<h2>Todas las citas</h2>
<div style="height: 250px; overflow-y: scroll;">
<table style="width:80%; justify-content: center; ">
    <tr>
        <th>No.</th>
        <th>Usuario</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Medico</th>
        <th>Estado</th>
        <th>Registro</th>

    </tr>
    {% for cita in citas %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ cita.usuario.nombre_completo }}</td>
        <td>{{ cita.cita.fecha }}</td>
        <td>{{ cita.cita.hora_cita }}</td>
        <td>{{ cita.cita.horario.id_usuario.nombre_completo }}</td>
        <td>{{ cita.estado_cita }}</td>
        <td>{{ cita.fecha_registro }}</td>
    </tr>
    {% endfor %}
</table>
</div>

{% endblock contenido1 %}