{% extends 'index.html' %}

{% block contenido1 %}
<h2>Lista de citas</h2>
<div style=" display: flex; justify-content: space-between; ">
<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{ formato.as_p}}
        <button type="submit">Buscar cita</button>
        <button>
            <a href="{% url 'Buscar_Horarios' %}"> Cancelar</a>
        </button>
    </form>
</div>   

<div style="height: 200px; overflow-y: scroll; width: 75%;">
    <h2 style="text-align: center;" >Programacion</h2>
    {% if datos %}
    <table class="table-admin" style="width: 90%;" ">
        <thead>
            <tr>
                <th>No.</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Médico</th>
                <th>Estado cita</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cita in datos %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ cita.fecha }}</td>
                <td>{{ cita.hora_cita }}</td>
                <td>{{ cita.horario.id_usuario.nombre_completo }}</td>
                <td>{{ cita.estado }}</td>
                <td>
                <form action="{% url 'Tomar_cita' %}" method="post">
                    {% csrf_token %}
                        <input type="hidden" name="cita_horario" value="{{ cita.id }}">
                    {% if usuario_id %}
                        <input type="hidden" name="usuario_id" value="{{ usuario_id }}">    
                    {% endif %}  
                                    
                    {% if cita.estado == 'Disponible'  %}
                        <button type="submit">Seleccionar</button>                        
                    {% endif %}
                </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <p>No se encontraron resultados de su búsqueda</p>

    {% endif %}
</div>
</div>


{% endblock %}
