{% extends 'index.html' %}


{% block contenido1 %}
<p>{{ error }}</p>
<div class="bloque__inicio">

    <h2 class="bloque__titulo">Iniciar sesión</h2>
    <form class="form__inicio" action="{% url 'Inicio_sesion' %}" method="POST">
        {% csrf_token %}

        {{ form.as_p }}
        <a class="form__olvido" href="#">¿Olvidaste tu contraseña?</a>

        <input type="hidden" name="next" , value="{{ next }}">
        <button class="form__button" type="submit">Ingresar</button>

    </form>
</div>

{% endblock %}