{% extends 'index.html' %}


{% block contenido1 %}

{% include 'bloques/buscador.html' %}

<table class="table-admin">
    <thead>
        <tr>
            <th>#</th>
            <th>No. Identificación</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Tipo Usuario</th>
            <th>Habilitado</th>
            <th colspan="2">Acciones</th>
        </tr>
    </thead>
    <tbody>


        {% for b1 in cuentas %}

        <tr>

            <td>{{ forloop.counter}}</td>
            <td>{{b1.numero_id}}</td>
            <td>{{b1.first_name}}</td>
            <td>{{b1.last_name}}</td>
            <td>{{b1.tipo_usuario}}</td>
            <td>{{b1.is_active}}</td>
            <td>
                <a href="{% url 'Perfil_Usuario' b1.id %}" class="btn-primary">Ver</a>
            </td>
            {% comment %}
            <td>
                <a href="{% url 'Perfil_Editar' b1.id %}" class="btn-secundary">Editar Datos</a>
            </td>
            {% endcomment %}

        </tr>

        {% endfor %}

    </tbody>
</table>



{% endblock %}