{% extends 'index.html' %}

{% block contenido1 %}

<table class="table-admin">
    <thead>
        <tr>
            <th>#</th>
            <th>No. Identificación</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Tipo Usuario</th>
            <th>Habilitado</th>
            <th colspan="2">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for b1 in cuentas %}
        <tr>
            <td>{{ forloop.counter}}</td>
            <td>{{b1.numero_id}}</td>
            <td>{{b1.first_name}}</td>
            <td>{{b1.last_name}}</td>
            <td>{{b1.tipo_usuario}}</td>            
            {% if b1.is_active == True %}
                <td>Habilitado</td>    
            {% else %}
                <td>Deshabilitar</td>
            {% endif %}
            
            <td>
                <button>
                <a href="{% url 'Perfil_Usuario' b1.id %}?accion=ver" class="btn-primary">Ver</a>
                </button>
            </td>
            
            <td>
                <button>
                <a href="{% url 'Perfil_Usuario' b1.id %}?accion=habilitar" class="btn-secundary">Habilitar / Deshabilitar</a>
                </button>
            </td>
            

        </tr>

        {% endfor %}

    </tbody>
</table>



{% endblock %}