{% extends 'index.html' %}


{% block contenido1 %}
    <div>
        <h2>Nosotros</h2>
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, doloribus non nihil a architecto, et ex corporis magni qui magnam porro necessitatibus enim recusandae voluptatum atque itaque nobis nesciunt deleniti.
            Quo minus eos quibusdam quia aliquid et? Quod deleniti odio, animi fugit illum illo temporibus! Placeat sequi quidem quaerat molestiae facere quam commodi inventore officiis, eos nam maiores sed nisi?
            Porro sunt quam asperiores magnam libero veritatis rem praesentium cum ipsam, tempora vitae soluta et esse corrupti quas repellat quaerat nisi quae molestiae fuga facere perspiciatis alias! Totam, repellendus fugit!
            </p>
        </div>
    </div>

{% endblock %}