{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static '/img/logo1.jpg' %}" type="imagen/x-icon">
    <link rel="stylesheet" href="{% static '/css/main_u.css' %}">
    <title>{{titulo}}</title>
</head>

<body>

    {% if user.is_authenticated %}
        {% include 'bloques/navbar_sesion.html' %}
    {% else %}
        {% include 'bloques/nav_var.html' %}
    {% endif %}
    {% if messages %}
        <ul class="messages">
            {% for mensaje in messages %}
                <li{% if message.tags %} class="{{ mensaje.tags }}"{% endif %}>{{ mensaje }}</li>
                <a href="{% url 'Principal' %}" style="margin-left:10px; color:red; text-decoration:none;">[Cerrar]</a>
            {% endfor %}  
        </ul>
    {% endif %}
    
    {% block contenido1 %}
    {% endblock %}   

    {% include 'bloques/footer.html' %}
</body>


</html>